@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");

.navbar-nav .dropdown-menu {
  border: none;
}

#gui-navbar {
  border-bottom: none;
}

#amino-acid-selector-parent-div {
  top: 20px;
}
